	 				<div class="messages button"></div>
	 				<div class="music button"></div>
 					<div class="addcard button"></div>
	 				<table class="friends">
			            <tr><td></td><td></td></tr>
			            <tr><td></td><td></td></tr>
			            <tr><td colspan="2" class="td-friends"></td></tr>
			        </table>
			        <table class="minibar">
 						<tr>
 							<td></td>
 							<td></td>
 						</tr>
 					</table>
